<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Just shoe management</title>
    <link rel="stylesheet" th:href="@{css/header-icon.css}"/>
</head>
<body>
    <div class="navigate">
        <nav class="navigate-bar">
            <ul class="navigate-bar-list">
                <li class="navigate-bar-items"><a th:href="@{/}" class="navigate-bar-detail" th:text="Home">Home</a></li>
                <li class="navigate-bar-items"><a th:href="@{/product}" class="navigate-bar-detail" th:text="Product"></a></li>
                <li class="navigate-bar-items"><a th:href="@{/category}" class="navigate-bar-detail" th:text="Category"></a></li>
                <li class="navigate-bar-items"><a th:href="@{/shop}" class="navigate-bar-detail" th:text="Shop"></a></li>
                <li class="navigate-bar-items"><a th:href="@{/}" class="navigate-bar-detail" th:text="Logout"></a></li>
            </ul>
        </nav>
    </div>
    <div layout:fragment="content">
        <!-- content page will override this -->
    </div>
</body>
</html>