<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="header">
<head>
    <meta charset="UTF-8">
    <title>Shop list</title>
    <link rel="stylesheet" th:href="@{fontawesome/css/all.css}">
    <link rel="stylesheet" th:href="@{css/shop-style.css}">
</head>
<body>
<div layout:fragment="content" class="text-center">
    <a th:href="@{/shop/add}" class="fas fa-plus-square icon icon-shop-list"></a>
    <table class="table-shop-list">
        <tr>
            <th>Shop name</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="shop: ${shopList}">
            <td th:text="${shop.name}"></td>
            <td th:text="${shop.address}"></td>
            <td th:text="${shop.phone}"></td>
            <td>
                <a th:href="'shop/update/' + ${shop.id}" class="far fa-edit modify-icon"></a>
            </td>
            <td>
                <a th:href="'shop/delete/' + ${shop.id}" class="far fa-trash-alt modify-icon"></a>
            </td>
        </tr>
        <tr>
            <td colspan="6"><a th:href="@{/shop/add}" class="fas fa-plus-square icon icon-shop-list"/></td>
        </tr>
    </table>
</div>

</body>
</html>