<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="admin/_menuBar">
<head>

    <meta charset="UTF-8">
    <title>ADD CATEGORY</title>
</head>
<body>
<div layout:fragment="content" class="container col-md-5 mt-4">
    <div class="card">
        <div class="card-body">
            <form th:action="@{/admin_categories/save}" th:object="${categories}" method="post">
                <h2 class="text-center text-primary">ADD CATEGORY</h2>
                <fieldset class="form-group">
                    <label>Category name</label>
                    <input class="form-control" type="text" placeholder="Please text only"
                           onkeypress='return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122) || (event.charCode == 32))' th:field="*{name}">
                </fieldset>
                <div class="col text-center mt-3">
                    <button type="submit" class="btn btn-success">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>